<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aplikasi BookReview"/>
    <meta name="keywords" content="book review,katalog buku"/>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"></script> -->

    <title>Pesanan Barang</title>
</head>
<body>
    <div class="container">
        <a href="{% url 'makanan' %}">Makanan</a>
        <a href="{% url 'minuman' %}">Minuman</a>
        <a href="{% url 'pesanan' %}">Pesanan</a>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th>Item</th>
                    <th>Harga</th>
                    <th>Jumlah</th>
                    <th>Sub total</th>
                    <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in semua_barang %}
                    <tr>
                        <td>{{ item.barang.nama }}</td>
                        <td>Rp{{ item.barang.harga }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>Rp{{ item.item_total }}</td>
                        <td>
                            {% if item.barang.id %}
                                <a href="{% url 'remove_from_cart' item.barang.id %}">
                                    <button class="btn btn-danger">Hapus</button>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <p>Total : Rp{{ total_harga }}</p>
    </div>
</body>
</html>